h1.title{
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
table {
  padding-top: 10px;
  border-collapse: separate;
  border-spacing: 0;
  color: #4a4a4d;
  font: 14px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

div.input{
  text-align: center;
}

th.control:hover{
  cursor: pointer;
  color: lightgreen;
}

th,td{
  padding: 10px 15px;
  vertical-align: middle;
  text-align: center;
}

thead{
  background: #395870;
  background: linear-gradient(#49708f, #293f50);
  color: #fff;
  font-size: 11px;
  text-transform: uppercase;
}

th:first-child{
  border-top-left-radius: 5px;
}

th:last-child{
  border-top-right-radius: 5px;
}

tbody tr:nth-child(even) {
  background: #f0f0f2;
}

td{
  border-bottom: 1px solid #cecfd5;
  border-right: 1px solid #cecfd5;
}

td:first-child{
  border-left: 1px solid #cecfd5;
}

tbody tr:last-child td:first-child{
  border-bottom-left-radius: 5px;
}

tbody tr:last-child td:last-child{
  border-bottom-right-radius: 5px;
}

button{
  background: #395870;
  background: linear-gradient(#49708f, #293f50);
  color: #fff;
  font-size: 11px;
  text-transform: uppercase;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
}

button.delete{
  background: #ed213a; /* fallback for old browsers */
  background: linear-gradient(#93291E, #ED213A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

input{
  width: 15%;
  margin-right: 10px
}
